<!--[if HTML5]><![endif]-->
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]><html class="ie ie6 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 7]><html class="ie ie7 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 8]><html class="ie ie8 ie-lte9 ie-lte8 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 9]><html class="ie9 ie-lte9 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
<head>
<title>{{=response.title or request.application}}</title>
  <!--[if !HTML5]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
  <![endif]-->
  <!-- www.phpied.com/conditional-comments-block-downloads/ -->
  <!-- Always force latest IE rendering engine
       (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
	   
  <meta charset="utf-8" />

  <!-- http://dev.w3.org/html5/markup/meta.name.html -->
  <meta name="application-name" content="{{=request.application}}" />

  <!-- Speaking of Google, don't forget to set your site up:
       http://google.com/webmasters -->
  <meta name="google-site-verification" content="" />

  <!--  Mobile Viewport Fix
        j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
        device-width: Occupy full width of the screen in its current orientation
        initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
        user-scalable = yes allows the user to zoom in -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">

  <!-- All JavaScript at the bottom, except for Modernizr which enables
       HTML5 elements & feature detects -->
  <script src="{{=URL('static','js/modernizr.custom.js')}}"></script>

  <!-- include stylesheets -->
  {{
  response.files.insert(0,URL('static','css/stylish-portfolio.css'))
  response.files.insert(1,URL('static','font-awesome/css/font-awesome.min.css'))
  response.files.insert(2,URL('static','css/web2py.css'))
  response.files.insert(3,URL('static','css/bootstrap.css'))
  response.files.insert(4,URL('static','css/component.css'))
  response.files.insert(5,URL('static','css/default.css'))
  #response.files.insert(4,URL('static','css/bootstrap-responsive.min.css'))
  #response.files.insert(5,URL('static','css/web2py_bootstrap.css'))
  }}
  {{include 'web2py_ajax.html'}}

  {{
  # using sidebars need to know what sidebar you want to use
  left_sidebar_enabled = globals().get('left_sidebar_enabled',False)
  right_sidebar_enabled = globals().get('right_sidebar_enabled',False)
  middle_columns = {0:'span12',1:'span9',2:'span6'}[
    (left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)]
  }}

  <!-- uncomment here to load jquery-ui
       <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.css" type="text/css" media="all" />
       <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript"></script>
       uncomment to load jquery-ui //-->
  <noscript><link href="{{=URL('static', 'css/web2py_bootstrap_nojs.css')}}" rel="stylesheet" type="text/css" /></noscript>
  {{block head}}{{end}}
</head>

<body>
    <!-- Full Page Image Header Area -->
    <div id="top" class="header">
      <div class="vert-text">
        <img src="{{=URL('static', 'img', args=['logo.png'])}}" alt="Hashtag Grandma">
        <h3>Share your online life with your parents and grandparents.</h3>
        <a href="{{=URL('default', 'user', args='login')}}" style="margin-top:10px" class="btn btn-primary btn-lg">Login via Instagram <img style="margin-left:5px;" src="{{=URL('static', 'img', args=['insta.png'])}}"></a><br>
        <a href="#about" style="margin-top:15px" class="btn btn-default btn-lg">Tell me more</a>
      </div>
    </div>
    <!-- /Full Page Image Header Area -->
  
    <!-- Intro -->
    <div id="about" class="intro">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <h2>What is #Grandma?</h2>
            <p class="lead">We send your instagram photos to your loved ones who don't use social networking. They are automatically sent via email or snail mail without you having to do anything.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <h2>What if I don't want my Grandma to see all of my photos?</h2>
            <p class="lead">Just tag the photos that you do want to send with <a href="#about">#grandma</a> or another keyword of your choice.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /Intro -->
  
    <!-- Services -->
    <div id="services" class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center">
            <h2>Features</h2>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-md-offset-2 text-center">
            <div class="service-item">
              <i class="service-icon fa fa-rocket"></i>
              <h4>Snail Mail</h4>
              <p>Your loved ones can recieve real 4x4 inch photos in the mail for just $2 each photo!</p>
            </div>
          </div>
          <div class="col-md-2 text-center">
            <div class="service-item">
              <i class="service-icon fa fa-magnet"></i>
              <h4>Email</h4>
              <p>If you don't want to send photos via mail, we can just email new photos to your loved ones for free!</p>
            </div>
          </div>
          <div class="col-md-2 text-center">
            <div class="service-item">
              <i class="service-icon fa fa-shield"></i>
              <h4>Automatic</h4>
              <p>After setting things up by logging in with your instagram account, the process is be completely automated.</p>
            </div>
          </div>
          <div class="col-md-2 text-center">
            <div class="service-item">
              <i class="service-icon fa fa-pencil"></i>
              <h4>Choice</h4>
              <p>If you don't want to send all of your photos, just tag the photos that you do want to send with keyword of your choice.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Services -->

    <!-- Callout -->
    <div class="callout">
      <div class="vert-text">
        <h1>So, what do they look like?</h1>
      </div>
    </div>
    <!-- /Callout -->

    <!-- Portfolio -->
    <div id="portfolio" class="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center">
            <h2>Examples</h2>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-2 text-center">
            <div class="portfolio-item">
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <!-- /Portfolio -->

    <!-- Call to Action -->
    <div class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <h3>Get Started Now!</h3>
            <a href="{{=URL('default', 'user', args='login')}}" class="btn btn-primary btn-lg">Login via Instagram <img style="margin-left:5px;" src="{{=URL('static', 'img', args=['insta.png'])}}"></a>
            
          </div>
        </div>
      </div>
    </div>
    <!-- /Call to Action -->
    

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <ul class="list-inline">
              <li><i class="fa fa-facebook fa-3x"></i></li>
              <li><i class="fa fa-twitter fa-3x"></i></li>
            </ul>
            <p class="text-center">Copyright &copy; HashtagGrandma 2013</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- /Footer -->

<div class="md-modal md-effect-1" id="modal">
    <div class="md-content">
        <h3>Setup Your Account</h3>
        
        <iframe style="width:630px; height:400px; overflow-x: hidden; overflow-y: scroll;" frameBorder="0" src="{{=URL('create', 'address_m')}}"></iframe>
    </div>
</div>


<div class="md-overlay"></div>


  <!-- The javascript =============================================
       (Placed at the end of the document so the pages load faster) -->
  <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
  <script src="{{=URL('static','js/web2py_bootstrap.js')}}"></script>
  <script src="{{=URL('static','js/classie.js')}}"></script>
  <script src="{{=URL('static','js/cssParser.js')}}"></script>
  

  <!--[if lt IE 7 ]>
      <script src="{{=URL('static','js/dd_belatedpng.js')}}"></script>
      <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
      <![endif]-->

{{
if auth.user_id:
  if len(db(db.mailing_rules.user_id == auth.user_id).select()) == 0:
}}
HI
{{
  pass
pass
}}

<script>
var ModalEffects = (function() {

  function init() {

    var overlay = document.querySelector( '.md-overlay' );

    var modal = document.getElementById( 'modal' );

    function removeModal( hasPerspective ) {
      classie.remove( modal, 'md-show' );

      if( hasPerspective ) {
        classie.remove( document.documentElement, 'md-perspective' );
      }
    }

    function removeModalHandler() {
      removeModal( classie.has( modal, 'md-setperspective' ) ); 
    }

    classie.add( modal, 'md-show' );
    overlay.removeEventListener( 'click', removeModalHandler );
    overlay.addEventListener( 'click', removeModalHandler );

    if( classie.has( modal, 'md-setperspective' ) ) {
      setTimeout( function() {
        classie.add( document.documentElement, 'md-perspective' );
      }, 25 );
    }
  }
  setTimeout(init, 500);

  // init();

})();


</script>

<!-- Custom JavaScript for the Side Menu and Smooth Scrolling - Put in a custom JavaScript file to clean this up -->
    <script>
        $("#menu-close").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
    </script>
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
    </script>
    <script>
      $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
            || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
      });
    </script>

  
  {{if response.google_analytics_id:}}
  <script src="{{=URL('static','js/analytics.min.js')}}"></script>
  <script type="text/javascript">
  analytics.initialize({
    'Google Analytics':{trackingId:'{{=response.google_analytics_id}}'} 
  });</script>
  {{pass}}

</body>
</html>

